/* font family definition
 * - add the needed fonts here
 */

@font-face {
    font-family: 'Fleischman BT Pro';
    src: url('../../../../fonts/FleischmanBTPro-Regular.eot');
    src: url('../../../../fonts/FleischmanBTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../../fonts/FleischmanBTPro-Regular.woff2') format('woff2'),
        url('../../../../fonts/FleischmanBTPro-Regular.woff') format('woff'),
        url('../../../../fonts/FleischmanBTPro-Regular.ttf') format('truetype'),
        url('../../../../fonts/FleischmanBTPro-Regular.svg#FleischmanBTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fleischman BT Pro';
    src: url('../../../../fonts/FleischmanBTPro-Bold.eot');
    src: url('../../../../fonts/FleischmanBTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../../fonts/FleischmanBTPro-Bold.woff2') format('woff2'),
        url('../../../../fonts/FleischmanBTPro-Bold.woff') format('woff'),
        url('../../../../fonts/FleischmanBTPro-Bold.ttf') format('truetype'),
        url('../../../../fonts/FleischmanBTPro-Bold.svg#FleischmanBTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fleischman BT Pro';
    src: url('../../../../fonts/FleischmanBTPro-BoldItalic.eot');
    src: url('../../../../fonts/FleischmanBTPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../../fonts/FleischmanBTPro-BoldItalic.woff2') format('woff2'),
        url('../../../../fonts/FleischmanBTPro-BoldItalic.woff') format('woff'),
        url('../../../../fonts/FleischmanBTPro-BoldItalic.ttf') format('truetype'),
        url('../../../../fonts/FleischmanBTPro-BoldItalic.svg#FleischmanBTPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fleischman BT Pro';
    src: url('../../../../fonts/FleischmanBTPro-Italic.eot');
    src: url('../../../../fonts/FleischmanBTPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../../fonts/FleischmanBTPro-Italic.woff2') format('woff2'),
        url('../../../../fonts/FleischmanBTPro-Italic.woff') format('woff'),
        url('../../../../fonts/FleischmanBTPro-Italic.ttf') format('truetype'),
        url('../../../../fonts/FleischmanBTPro-Italic.svg#FleischmanBTPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Book';
    src: url('../../../../MaisonNeue-Book.eot');
    src: url('../../../../MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('../../../../MaisonNeue-Book.woff2') format('woff2'),
        url('../../../../MaisonNeue-Book.woff') format('woff'),
        url('../../../../MaisonNeue-Book.ttf') format('truetype'),
        url('../../../../MaisonNeue-Book.svg#MaisonNeue-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Demi';
    src: url('../../../../MaisonNeue-Demi.eot');
    src: url('../../../../MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'),
        url('../../../../MaisonNeue-Demi.woff2') format('woff2'),
        url('../../../../MaisonNeue-Demi.woff') format('woff'),
        url('../../../../MaisonNeue-Demi.ttf') format('truetype'),
        url('../../../../MaisonNeue-Demi.svg#MaisonNeue-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
